html {
  background: #e5e5e5;
}

body {
  display: flex;
  position: relative;
  width: 1600px;
  height: 4975px;
  margin: auto auto;
  background: #ffffff;
}

header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #000000;
  backdrop-filter: blur(2px);
  border: none;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333b41;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #333b41;
}

.pickandfeed_font1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
}

.pickandfeed_font2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
}

.subtitle_font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
}

.smallParagraph_font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}

.row {
  display: flex;
}

.column_2 {
  flex: 50%;
}

.column_3 {
  flex: 33%;
}

#section1_ft {
  position: absolute;
  height: 780px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: url("../../assets/images/GiantPanda.jpg");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar_font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

#logo {
  content: url("../../assets/images/logo_footer.png");
  position: absolute;
  width: 82px;
  height: 52px;
  left: 220px;
  top: 14px;
  background: #000000;
}

#about {
  position: absolute;
  width: 43px;
  height: 22px;
  left: 365px;
  top: 29px;
  color: white;
  background: #000000;
}

#map {
  position: absolute;
  width: 32px;
  height: 22px;
  left: 466px;
  top: 29px;
  color: white;
  background: #000000;
}

#zoos {
  position: absolute;
  width: 36px;
  height: 22px;
  left: 556px;
  top: 29px;
  color: white;
  background: #000000;
}

#donate {
  position: absolute;
  width: 51px;
  height: 22px;
  left: 650px;
  top: 29px;
  color: white;
  background: #000000;
}

#contactus {
  position: absolute;
  width: 78px;
  height: 22px;
  left: 759px;
  top: 29px;
  color: white;
  background: #000000;
}

#about:hover,
#map:hover,
#zoos:hover,
#donate:hover,
#contactus:hover,
#designedby:hover,
#logo:hover {
  color: #f9804b;
  cursor: pointer;
}

#designedby {
  position: absolute;
  width: 105px;
  height: 22px;
  left: 1275px;
  top: 29px;
  color: #ffffff;
  background: #000000;
}

#watchyouranimal {
  position: absolute;
  width: 500.31px;
  height: 400px;
  left: calc(50% - 500.31px / 2 + 330.15px);
  top: 166px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: none;
}

#ellipse6 {
  content: " ";
  color: orange;
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  width: 465px;
  height: 465px;
  left: calc(50% - 465px / 2 + 239.5px);
  top: 92px;
  /* orange */
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border: 1px solid #000000;
}

#yellow_font {
  color: #ffee2e;
  background: none;
}

#btn_1 {
  color: #ffffff;
  position: absolute;
  width: 298px;
  height: 54px;
  left: calc(50% - 298px / 2 + 332px);
  top: 626px;
  /* orange */
  background: orange;
  border-radius: 25px;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

#btn_2 {
  color: #ffffff;
  position: absolute;
  width: 298px;
  height: 54px;
  left: calc(50% - 298px / 2);
  top: 956px;
  /* orange */
  background: orange;
  border-radius: 25px;
  border: none;
  text-align: center;
}

#btn_2:hover {
  animation-name: buttonBackground;
  animation-duration: 2s;
  background: orange;
  cursor: pointer;
}

.btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

#btn_1:hover {
  animation-name: buttonBackground;
  animation-duration: 2s;
  background: orange;
  cursor: pointer;
}

@keyframes buttonBackground {
  0% {
    background: orange;
  }
  50% {
    background: red;
  }
  100% {
    background: orange;
  }
}

#section2 {
  position: absolute;
  height: 403px;
  left: 219px;
  right: 220px;
  top: 920px;
  background: none;
}

#TheBackstage {
  background: none;
  position: absolute;
  height: 116px;
  left: 696px;
  right: 0px;
  top: 0px;
  color: #333b41;
}

#TheBackStage_p {
  position: absolute;
  left: 696px;
  right: 0px;
}

#TheBackStage_subtitle {
  position: absolute;
  left: 696px;
  right: 0px;
}

#flower {
  position: absolute;
  width: 293px;
  height: 605px;
  left: 1178px;
  top: -120px;
}

#section3_animals_card {
  position: absolute;
  width: 1158px;
  height: 872px;
  left: calc(50% - 1158px / 2 - 1px);
  top: 1503px;
  background: #ffffff;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 366px);
  grid-template-rows: repeat(2, 426px);
  grid-column-gap: 29px;
  grid-row-gap: 20px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
}

#animal_card {
  width: 366px;
  height: 426px;
  top: 0px;
  border-radius: 5px;
  border-color: #fa6f32;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
}

#animal_card:hover .animal_card_animation {
  width: 406px;
  height: 406px;
  left: 0px;
  top: 0px;
  margin-left: -10px;
  margin-top: -10px;
  filter: brightness(70%);
  animation-name: animate_image;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes animate_image {
  0% {
    width: 366px;
    height: 366px;
    filter: brightness(100%);
    margin-left: 0px;
    margin-top: 0px;
  }
  100% {
    width: 406px;
    height: 406px;
    filter: brightness(70%);
    margin-left: -10px;
    margin-top: -10px;
  }
}

.animal_text_animation {
  margin-top: 5px;
  margin-left: 15px;
}

#animal_card:hover .animal_text_animation {
  width: 366px;
  height: 366px;
  margin-top: -60px;
  color: white;
  animation-name: animate_text;
  animation-duration: 1s;
  animation-timing-function: linear;
  filter: brightness(100%);
}

@keyframes animate_text {
  0% {
    margin-top: 5px;
    color: #000000;
  }
  100% {
    margin-top: -60px;
    color: #ffffff;
  }
}

.animal_btn {
  margin-left: 16px;
  margin-top: 5px;
}

#ellipse1 {
  color: #ffffff;
  position: absolute;
  text-align: center;
  width: 62px;
  height: 62px;
  left: -82px;
  top: 405px;
  /* orange */
  background: orange;
  border-radius: 31px;
  border: none;
}

#ellipse2 {
  color: #ffffff;
  position: absolute;
  text-align: center;
  width: 62px;
  height: 62px;
  right: -82px;
  top: 405px;
  /* orange */
  background: orange;
  border-radius: 31px;
  border: none;
}

#palm_image {
  position: absolute;
  margin-left: -221px;
  margin-top: -225px;
}

#strelitzia_image {
  position: absolute;
  margin-left: 1012px;
  margin-top: -41px;
}

#bg_section4_pick-and-feed {
  position: absolute;
  height: 1004px;
  left: 0px;
  right: 0px;
  top: 2609px;

  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
}

#bg {
  position: absolute;
  height: 835px;
  left: 220px;
  right: 220px;
  top: 2678px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.orange_font {
  color: #fe9013;
  margin-top: 41px;
  margin-bottom: 30px;
  text-align: center;
}

.margin_99 {
  margin-left: 99px;
  margin-right: 60px;
}

.marginbottom_60 {
  margin-bottom: 60px;
}

.marginbottom_40 {
  margin-bottom: 40px;
}

.marginbottom_10 {
  margin-bottom: 10px;
}

.centered_text {
  text-align: center;
}
