:root {
  --about-active-color: #f9804b;
  --about-cursor: pointer;
}

html {
  background: #e5e5e5;
}

body {
  display: flex;
  position: relative;
  width: 1600px;
  height: 2391px;
  margin: auto auto;
  background: #ffffff;
}

header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #000000;
  backdrop-filter: blur(2px);
  border: none;
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  margin-top: 5px;
  letter-spacing: 1px;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #fe9013;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333b41;
}

.white_font {
  color: #ffffff;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #333b41;
}

.body_font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.white {
  color: white;
}

.black {
  color: black;
}

.donate1_small_font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.donate1_orange_font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #fe9013;
}

.subtitle_font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
}

.subscribe_font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
}

.smallParagraph_font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}

.days_feed_font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 100px;
  margin-bottom: 10px;
}

.amount_bar_font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  color: #333b41;
}

.centered_text {
  text-align: center;
}

#image_header {
  position: absolute;
  height: 390px;
  left: 0px;
  right: 0px;
  top: 80px;
}

.navbar_font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

#logo {
  content: "PetStory online";
  position: absolute;
  width: 82px;
  height: 52px;
  left: 220px;
  top: 14px;
  background: #000000;
  color: white;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

#about {
  position: absolute;
  width: 43px;
  height: 22px;
  left: 365px;
  top: 29px;
  color: white;
  background: #000000;
  cursor: var(--about-cursor);
}

#map {
  position: absolute;
  width: 32px;
  height: 22px;
  left: 466px;
  top: 29px;
  color: white;
  background: #000000;
}

#zoos {
  position: absolute;
  width: 36px;
  height: 22px;
  left: 556px;
  top: 29px;
  color: white;
  background: #000000;
}

#donate {
  position: absolute;
  width: 51px;
  height: 22px;
  left: 650px;
  top: 29px;
  color: #f9804b;
  background: #000000;
}

#contactus {
  position: absolute;
  width: 78px;
  height: 22px;
  left: 759px;
  top: 29px;
  color: white;
  background: #000000;
}

#map:hover,
#about:hover,
#zoos:hover,
#contactus:hover,
#designedby:hover,
#logo:hover {
  color: #f9804b;
  cursor: pointer;
}

a:visited {
  --about-cursor: not-allowed;
  --about-active-color: #aaaaaa;
}

#designedby {
  position: absolute;
  width: 105px;
  height: 22px;
  left: 1275px;
  top: 29px;
  color: #ffffff;
  background: #000000;
}

#yellow_font {
  color: #ffee2e;
  background: none;
}

#donate1 {
  position: absolute;
  height: 1482px;
  left: 0px;
  right: 0px;
  top: 470px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}

.donate1_text_section {
  width: 1156px;
  margin: auto;
}

#pick_and_feed {
  width: 1160px;
  height: 964px;
  margin: auto;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

#pick_and_feed_inside {
  width: 976px;
  height: 862px;
  margin-left: 92px;
}

.grid_feed {
  width: 568px;
  display: grid;
  grid-template-columns: 206px 78px 284px;
  grid-template-rows: 246px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 180px;
  margin-top: 60px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  margin-top: 122px;
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

#footer {
  position: absolute;
  background: #000000;
  height: 443px;
  width: 1600px;
  bottom: 0px;
}

#progress_bar {
  width: 976px;
  height: 40px;
}

#progress_bar_dark {
  position: absolute;
  top: 562px;
  width: 976px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
}

#progress_bar_line {
  margin-top: 12px;
  width: 915px;
  height: 2px;
  background: #72828e;
  margin-left: 31px;
}

label {
  color: orange;
  margin-top: 25px;
}

.radio_yellow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  width: 45px;
  height: 45px;
  padding: 15px;
  background-clip: content-box;
  background-color: #ffee2e;
  border-radius: 50%;
  margin-top: -21px;
  vertical-align: top;
  accent-color: #ffee2e;
}

.radio_yellow:checked {
  border-style: double;
  border-width: 2px;
  border-color: #fe9013;
  background-color: #fe9013;
  animation-name: animate_amount;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes animate_amount {
  0% {
    background-color: #fe9013;
  }
  50% {
    background-color: #ffee2e;
  }
  100% {
    background-color: #fe9013;
  }
}

.radio_orange {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  appearance: none;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 3px;
  background-clip: content-box;
  background-color: #f3e09d;
  border-radius: 50%;
  vertical-align: top;
  border-width: 1px;
  border-style: solid;
  border-color: #fe9013;
}

.radio_orange:checked {
  border-style: solid;
  border-width: 2px;
  border-color: #fe9013;
  background-color: #fe9013;
}

.radio_orange:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #fe9013;
  background-color: #fe9013;
}

input[type="radio"]:hover {
  background-color: #fe9013;
}

input[type="text"] {
  width: 268px;
  height: 54px;
  background: none;
  border-color: #929699;
  border-style: solid;
  padding-left: 10px;
}

#amount_manual {
  width: 268px;
  height: 54px;
  margin: auto auto;
}

#sign_dollar {
  position: absolute;
  right: 445px;
  top: 694px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
}

.btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

#btn_3 {
  position: absolute;
  width: 298px;
  color: #ffffff;
  margin-top: 140px;
  height: 54px;
  margin-left: 342px;
  /* orange */
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  border: none;
  text-align: center;
}

#btn_3:hover {
  background: #e47209;
  cursor: pointer;
}

#btn_3:active {
  background: #4b9200;
  cursor: pointer;
}

@keyframes buttonBackground {
  0% {
    background: orange;
  }
  50% {
    background: red;
  }
  100% {
    background: orange;
  }
}

#footer {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 1948px;
  width: 1600px;
  height: 443px;
  background: #000000;
}

#logo_footer {
  position: absolute;
  width: 82px;
  height: 52px;
  left: 220px;
  top: 41px;
  background: #000000;
  color: white;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

#logo_footer:hover {
  color: #f9804b;
}

.container_3 {
  display: grid;
  grid-template-columns: 300px 400px 460px;
  grid-template-rows: 400px;
  gap: 0px 0px;
  grid-template-areas: ". . . . .";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: start;
}

.div31 {
  grid-area: 1 / 1 / 2 / 2;
}
.div32 {
  grid-area: 1 / 2 / 2 / 3;
}
.div33 {
  grid-area: 1 / 3 / 2 / 4;
}

#btn_4 {
  width: 298px;
  color: #ffffff;
  margin-top: 156px;
  height: 54px;
  margin-left: 0px;
  /* orange */
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  border: none;
  text-align: center;
}

#btn_4:hover {
  background: #e47209;
  cursor: pointer;
}

#btn_4:active {
  background: #4b9200;
  cursor: pointer;
}

#socialmedia {
  margin-top: 44px;
  margin-left: 0px;
}

.icon_socialmedia {
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 7px;
}

.text_socialmedia {
  color: white;
  text-decoration: none;
}

.text_socialmedia:hover {
  color: #4b9200;
  text-decoration: none;
}

.footer_links {
  text-decoration: none;
}

#about_footer {
  width: 43px;
  height: 22px;
  margin-left: 10px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

#about_footer:hover,
#map_footer:hover,
#zoos_footer:hover,
#contactus_footer:hover {
  text-decoration: none;
  color: #f9804b;
}

#map_footer {
  width: 32px;
  height: 22px;
  margin-left: 55px;
  color: white;
  text-decoration: none;
}

#zoos_footer {
  width: 36px;
  height: 22px;
  margin-left: 55px;
  color: white;
  text-decoration: none;
}

#contactus_footer {
  width: 78px;
  height: 22px;
  margin-left: 55px;
  color: white;
  text-decoration: none;
}

#email_form {
  box-sizing: border-box;
  width: 228px;
  height: 42px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #f9804b;
  background: none;
  color: #bdbdbd;
  margin-top: 10px;
  padding-left: 10px;
}

#btn_submit_mail {
  height: 42px;
  width: 129px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  border-color: #333b41;
  border-radius: 5px;
}

#btn_submit_mail:hover {
  border-color: #4b9200;
  color: #4b9200;
}

#designed_by {
  width: 230px;
  height: 21px;
  margin-top: 225px;
  margin-left: 130px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
}

.margintop_371 {
  margin-top: 371px;
}

.margintop_40 {
  margin-top: 40px;
}

.width_span {
  margin-left: 66px;
}

.width_span2 {
  margin-left: 30px;
}

.width_span3 {
  margin-left: 60px;
}

.width_span4 {
  margin-left: 50px;
}

.width_span5 {
  margin-left: 15px;
}

.width_span6 {
  margin-left: 72px;
}

.margin_top25 {
  margin-top: 25px;
}

.margin_top40 {
  margin-top: 40px;
}

.margin_top50 {
  margin-top: 50px;
}

.margin_bottom10 {
  margin-bottom: 10px;
}

.margin_bottom20 {
  margin-bottom: 20px;
}

.margin_bottom60 {
  margin-bottom: 60px;
}

.padding_top40 {
  padding-top: 40px;
}
